<template>
    <div>
        <div class="row">
            <div class="col-md-12 pb-4">
                <button
                type="button"
                class="btn bg-gradient-secondary btn-sm"
                data-toggle="modal"
                data-target="#modal-add"
                >
                <i class="fas fa-plus"></i>Add Article
                </button>
            </div>
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <h5 class="card-title">List Project</h5>

                    <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                    </div>
                    <div class="card-tools pr-5">
                    <!-- <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search" />

                        <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                        </div>
                    </div> -->
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                        <th>#</th>
                        <th>Article Name</th>
                        <th>Description</th>
                        <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,key,index) in ListArticle" :key="index">
                        <td>{{key+1}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.Description}}</td>
                        <td class="py-0 align-middle">
                            <div class="btn-group btn-group-sm">
                            <a @click="edit(item,index)" style="cursor: pointer;" class="btn btn-info">
                                <i style="color:white" class="fas fa-edit"></i>
                            </a>
                            <a style="cursor: pointer;"  @click="remove(item.ID)" class="btn btn-danger">
                                <i style="color:white" class="fas fa-trash"></i>
                            </a>
                            </div>
                        </td>
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
                <!-- ./card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item">
                        <a class="page-link" href="#">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">Last</a>
                    </li>
                    </ul>
                </div>
                <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        <!-- /.col -->
        </div>
         <!-- modal -->
        <div class="modal fade" id="modal-add" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                    <i class="fas fa-plus"></i> Add Article
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="Name">Name</label>
                        <input v-model="name" type="text"  class="form-control " />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="Name">Thumbnail</label>
                        <input type="file" ref="file" class="form-control UploadedFile" name="UploadedFile" id="UploadedFile" placeholder="Upload file" @change="onFileChange"/>
                        <img v-bind:src="imagePreview" v-show="showPreview"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="Description">Description:</label>
                        <textarea v-model="description" class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="Content">Content</label>
                            <!-- <ckeditor :editor="editor" v-model="description" :config="editorConfig"></ckeditor> -->
                             <vue-editor id="editor" :editorOptions="editorSettings" useCustomImageHandler  @imageAdded="handleImageAdded" v-model="content" />
                        
                        </div>
                    </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button @click="save" type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="modal-edit" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                    <i class="fas fa-plus"></i> Article Edit
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label for="Name">Name</label>
                            <input v-model="nameEdit" type="text"  class="form-control " />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name">Thumbnail</label> 
                                <input type="file" ref="file2" class="form-control UploadedFile" name="UploadedFile" id="UploadedFile" placeholder="Upload file" @change="onFileChange2"  />
                                <img v-if="img" v-bind:src="img" /> 
                                <!-- <img v-else v-bind:src="imagePreview2" v-show="showPreview2"/> -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                            <label for="Description">Description:</label>
                            <textarea v-model="descriptionEdit" class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                            <label for="Name">Content</label>
                                <vue-editor useCustomImageHandler  @imageAdded="handleImageAdded" v-model="contentedit"  />
                                <!-- <ckeditor :editor="editor" v-model="descriptionEdit" :config="editorConfig"></ckeditor> -->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button @click="update" type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
               
            </div>
            
        </div>

    </div>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import axios from "axios";
// import Quill from "quill";
// import ImageResize from "quill-image-resize-module-fork-for-vue2-editor";
// Quill.register("modules/imageResize", ImageResize);
export default {
    name: 'article-admin',
    // components: { VueCkeditor },
    data() {
        return {
            editorSettings: {
                modules: {
                imageDrop: true,
                imageResize: {}
                }
            },
            img: '',
            file2: '', 
            showPreview2: false,
            imagePreview2: '',
            file: '',
            showPreview: false,
            imagePreview: '',
            contentedit: '',
            content: 'Content of the editor',
            name: null,
            ListArticle: [],
            editor: ClassicEditor,
            description: null,
            editorConfig: {
            },
            nameEdit: null,
            descriptionEdit: null,
            ID: null
        }
    },
    created(){
        this.getAllArticle()
    },
    methods: {
        onFileChange2() {
            this.file2 = this.$refs.file2.files[0];
            //  console.log(this.file2)
            let reader  = new FileReader();
            reader.addEventListener("load", function () {
                this.showPreview2 = true;
                this.img = reader.result;
            }.bind(this), false);
            if( this.file2 ){
                if ( /\.(jpe?g|png|gif)$/i.test( this.file2.name ) ) {
                reader.readAsDataURL( this.file2 );
                }
            }
        },
        onFileChange() {
            this.file = this.$refs.file.files[0];
            //  console.log(this.file)
            let reader  = new FileReader();
            reader.addEventListener("load", function () {
                this.showPreview = true;
                this.imagePreview = reader.result;
            }.bind(this), false);
            if( this.file ){
                if ( /\.(jpe?g|png|gif)$/i.test( this.file.name ) ) {
                reader.readAsDataURL( this.file );
                }
            }
        },
        handleImageAdded: function(file, Editor, cursorLocation,resetUploader) {
            let self = this
            const CLIENT_ID = '864cdf588393442'
            var formData = new FormData();
            formData.append("image", file);
            console.log("aaa")
            self.$api.post('https://api.imgur.com/3/image',formData,{
                headers:{
                'Authorization': 'Client-ID ' + CLIENT_ID
                }
            })
            .then((result) => {
                console.log(result);
                let url = result.data.data.link
                Editor.insertEmbed(cursorLocation, 'image', url);
                resetUploader();
            })
            .catch((err) => {
                console.log(err);
            })
        },
        resetForm(){
            $('#modal-add .Name').val("");
        },
        save(){
            var formData = new FormData();
            // var fileUpload = document.querySelector("#modal-add  #UploadedFile");
            formData.append("UploadedFile", this.file);
            formData.append("UploadedFileName", this.name);
            formData.append("UploadedFileDescription", this.description);
            formData.append("UploadedFileContent", this.content);
            let self = this
            self.$api.post("api/Articles/Created2",formData,{
                headers: {
                "Content-Type": "multipart/form-data"
                }
            }).then(r=>{
                self.$swal('Success !', 'New Article Add Success', 'success');
                self.getAllArticle();
                
            })
            $("#modal-add").modal('hide');
            self.resetForm();
        },
        edit(item,index){
            $("#modal-edit").modal('show');
            this.ID = item.ID
            this.nameEdit = item.Name
            this.img= item.Image
            this.descriptionEdit = item.Description
            this.contentedit = item.Content
        },
        update(item,index){
            var formData = new FormData();
            formData.append("UploadedFile", this.file2);
            formData.append("UploadedFileNameEdit", this.nameEdit);
            formData.append("UploadedFileDescriptionEdit", this.descriptionEdit);
            formData.append("UploadedFileContentEdit", this.contentedit);
            formData.append("UploadedFileID", this.ID);
            console.log(this.ID);
            this.$api.post("api/Articles/Updated",formData,{
                headers: {
                "Content-Type": "multipart/form-data"
                }
            }).then(r=>{
                this.$swal("Success !", "Articles Update Success", "success");
                $("#modal-edit").modal("hide");
                this.getAllArticle();
            })
        },
        getAllArticle(){
            this.$api.get('api/Articles/GetAll').then(r=>{
                // console.log(r)
                this.ListArticle = r.data
            })
        },
        remove(id){
            this.$swal({
                title: 'Are you sure?',
                text: 'You can\'t revert your action',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes Delete it!',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: true,
                showLoaderOnConfirm: true
                })
                .then(result => {
                if (result.value) {
                    this.$api.delete(`api/Articles/DeleteArticle/${id}`)
                    .then(r => {
                        this.getAllArticle();
                        this.$swal('Deleted', 'You successfully deleted this Article', 'success')
                    })
                    .catch(r => {
                    });
                } else {
                    this.$swal('Cancelled', 'Your Article is still intact', 'info')
                }
                });
            // console.log(id);
            },
    },
    mounted(){
       
    },
}
</script>


<style>
/* img {
  width: 40%;
  display: block;
  margin-bottom: 10px;
} */
#editor {
  height: 350px;
}
</style>
