<template>
    <header id="header">
        <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="#"><span>LabTeam</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="src/image/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu float-right ">
            <ul>
            <li><a href="#">Home</a></li>
            <li><a @click="pushadmin" style="cursor:pointer ; color: white" target="blank">Sign in</a></li>
            </ul>
        </nav>
        <!-- .nav-menu -->
        </div>
    </header>
</template>

<script>

export default {
  name: "appHeader",
  data() {
    return {
      
    };
  },
  created(){
   
  },
  methods: {
    pushadmin(){
      window.open('#/admin', '_blank');
    },
  }
};
</script>

<style scoped></style>
