<template>
  <div>

   
    <header id="header">
      <div class="container">

        <div class="logo float-left">
          <h1 class="text-light"><a href="#"><span>LabTeam</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="src/image/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu float-right ">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a @click="pushadmin" style="cursor:pointer ; color: white" target="blank">Sign in</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div v-for="(item,key,index) in ListSlide" :key="index"  :class='key === 0 ? "carousel-item active" : "carousel-item " ' :style="{ backgroundImage: 'url(' + item.Image + ')' }">
              <div class="carousel-container">
                <div class="carousel-content container">
                  <h2 class="animated fadeInDown">{{item.Title}}</h2>
                  <p class="animated fadeInUp">{{item.Subtitle}}</p>
                  <a href="#portfolio" class="btn-get-started animated fadeInUp">Read More</a>
                </div>
              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </section><!-- End Hero -->

    
    <main id="main">

      <!-- ======= About Us Section ======= -->
      <!-- <section id="about" class="about">
        <div class="container">

          <div class="row no-gutters">
            <div class="col-lg-6 video-box">
              <img src="src/image/about.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

              <div class="section-title">
                <h2>About Us</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div>

            </div>
          </div>

        </div>
      </section> -->
      <!-- End About Us Section -->

      <!-- ======= About Lists Section ======= -->
      <!-- <section class="about-lists">
        <div class="container">

          <div class="row no-gutters">

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
              <span>01</span>
              <h4>Lorem Ipsum</h4>
              <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
              <span>02</span>
              <h4>Repellat Nihil</h4>
              <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
              <span>03</span>
              <h4> Ad ad velit qui</h4>
              <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
              <span>04</span>
              <h4>Repellendus molestiae</h4>
              <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
              <span>05</span>
              <h4>Sapiente Magnam</h4>
              <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
              <span>06</span>
              <h4>Facilis Impedit</h4>
              <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi</p>
            </div>

          </div>

        </div>
      </section> -->
      <!-- End About Lists Section -->

      <!-- ======= Counts Section ======= -->
      <!-- <section class="counts section-bg">
        <div class="container">

          <div class="row">

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
              <div class="count-box">
                <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                <span data-toggle="counter-up">232</span>
                <p>Happy Clients</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
              <div class="count-box">
                <i class="icofont-document-folder" style="color: #c042ff;"></i>
                <span data-toggle="counter-up">521</span>
                <p>Projects</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
              <div class="count-box">
                <i class="icofont-live-support" style="color: #46d1ff;"></i>
                <span data-toggle="counter-up">1,463</span>
                <p>Hours Of Support</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
              <div class="count-box">
                <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
                <span data-toggle="counter-up">15</span>
                <p>Hard Workers</p>
              </div>
            </div>

          </div>

        </div>
      </section> -->
      <!-- End Counts Section -->

      <!-- ======= Services Section ======= -->
      <!-- <section id="services" class="services">
        <div class="container">

          <div class="section-title">
            <h2>Services</h2>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="icofont-earth"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="icofont-image"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="icofont-settings"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <div class="icon"><i class="icofont-tasks-alt"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>

        </div>
      </section> -->
      <!-- End Services Section -->

      <!-- ======= Our Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

          <div class="section-title">
            <!-- <h2>Our Projects</h2> -->
          </div>

          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <!-- <li v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]" data-filter=".filter-app" class="filter-active" >Projects</li> -->
                <li v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'filter-active' : '' ]" >Projects</li>
                <li v-on:click="activetab=4" v-bind:class="[ activetab === 4 ? 'filter-active' : '' ]" >OKR</li>
                <li v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'filter-active' : '' ]" >NEWS</li>
                <li v-on:click="activetab=3" v-bind:class="[ activetab === 3 ? 'filter-active' : '' ]">TRAINING RESOURCES</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container">
            <div v-for="(item,key,index) in ListProject"  :key="index"  class="col-lg-4 col-md-6 portfolio-item ">
              <div v-if="activetab == 1" class="portfolio-wrap">
                <img :src="item.Image" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{item.Name}}</h4>
                  <div class="portfolio-links">
                    <a :href="item.Image" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                    <a :href="item.URL" target="blank" title="More Details"><i class="icofont-external-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col col-xs-12">
                    <div v-if="activetab == 2" class="blog-grids">
                      <div v-for="(item,key,index) in ListArticle" :key="index" class="grid">
                          <div class="entry-media">
                              <img v-if="item.Image" :src="item.Image" alt="">
                              <img v-else :src="imgdefault" alt="">
                              
                          </div>
                          <div class="entry-body">
                              <h3><a @click="showdetailnews(item.ID)" style="cursor: pointer;color: #6c16e6;">{{item.Name}}</a></h3>
                              <p>{{item.Description}}</p>
                              <div class="read-more-date">
                                  <a @click="showdetailnews(item.ID)" style="cursor: pointer;color: #6c16e6;" >Read More..</a>
                              </div>
                          </div>
                      </div>
                      
                    </div>
                </div>
              </div>
            </div>

            <div  v-if="activetab == 4"  class="col-lg-12 col-md-12 portfolio-item">
              <div class="portfolio-wrap" >
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">List OKR</h5>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>

                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                      <ejs-treegrid
                        ref="treegrid"
                        :dataSource="data1"
                        childMapping="children"
                        :treeColumnIndex="1"
                        :allowPaging="true"
                        :pageSettings="pageSettings"
                        :allowExcelExport="true"
                        :allowPdfExport="true"
                        :allowSorting="true"
                        :contextMenuItems="contextMenuItems"
                        :dataSourceChanged="dataSourceChanged"
                        :editSettings="editing"
                        :rowSelected="rowSelected "
                        :actionComplete="actionComplete"
                        :searchSettings="searchSettings"
                      >
                        <e-columns>
                          <e-column
                            field="index"
                            width="100"
                            isPrimaryKey="true"
                            headerText="#"
                            :disableHtmlEncode="false"
                          ></e-column>
                          <e-column
                            field="title"
                            editType="stringedit"
                            headerText="OKR Name"
                            :edit="editparams"
                            :disableHtmlEncode="false"
                          ></e-column>

                          <e-column
                            editType="stringedit"
                            headerText=""
                            isPrimaryKey="false"
                            :edit="editparams"
                            :template="optionDetail"
                            :disableHtmlEncode="false"
                          ></e-column>
                        </e-columns>
                      </ejs-treegrid>
                    </div>
                  </div>
              </div>
            </div>

            <div  v-if="activetab == 3"  class="col-lg-12 col-md-12 portfolio-item">
              <div class="portfolio-wrap" >
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">List Project Training</h5>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>

                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <ejs-treegrid
                      ref="treegrid"
                      :dataSource="data"
                      childMapping="children"
                      :treeColumnIndex="1"
                      :allowPaging="true"
                      :pageSettings="pageSettings"
                      :allowExcelExport="true"
                      :allowPdfExport="true"
                      :allowSorting="true"
                      :editSettings="editing"
                      :dataSourceChanged="dataSourceChanged"
                      :rowSelected="rowSelected "
                      :actionComplete="actionComplete"
                      :searchSettings="searchSettings"
                      :toolbar="toolbar"
                    >
                      <e-columns>
                        <e-column
                          field="index"
                          width="100"
                          isPrimaryKey="true"
                          headerText="#"
                          :disableHtmlEncode="false"
                        ></e-column>
                        <e-column
                          field="title"
                          editType="stringedit"
                          headerText="Project Name"
                           :template="ProjectnameTemplate"
                          :edit="editparams"
                          :disableHtmlEncode="false"
                        ></e-column>


                        <e-column field="link" editType="stringedit" headerText="Video Toturial"
                          :edit="editparams"
                          :template="optionLinkTemplate"
                          :disableHtmlEncode="false"
                        ></e-column>

                        <e-column field="linkpath" editType="stringedit" headerText="Link Path"
                          :edit="editparams"
                          :template="optionPathTemplate"
                          :disableHtmlEncode="false"
                        ></e-column>

                        <e-column field="" editType="stringedit" headerText=""
                          width="100"
                          :edit="editparams"
                          :template="optionCopyTemplate"
                          :disableHtmlEncode="false"
                        ></e-column>

                      </e-columns>
                    </ejs-treegrid>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>
    

    </main>
  

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Modal watch video -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fluid " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">    
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" :src="src" id="video" width="960" height="540"  allowscriptaccess="always" allowfullscreen  ></iframe>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <!-- end modal watch -->

    <!-- Modal Detail OKR -->
    <div class="modal fade" id="myModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fluid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>  
            </div>
            <div class="modal-body">   
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center">OKR CONFIDENCE</th>
                        <th scope="col" style="text-align: center">TEAM HEALTH</th>
                        <th scope="col" style="text-align: center">OKR PROGRESS</th>
                        <th scope="col" style="text-align: center">NEXT 4 WEEKS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <span v-for="(item,key,index) in Confidence" :key="index">
                                <p style="color:#0479f7" >{{item.Content }}  </p>
                                <hr />
                            </span>
                        </td>
                        <td scope="row" style="text-align: center">
                            <span v-for="(item,key,index) in TeamHealth " :key="index"  class="badge badge-success">{{item.Content}}</span>
                        </td>
                        <td scope="row">
                            <span v-for="(item,key,index) in Progress " :key="index">
                                <p style="color:#0479f7">{{item.Content}}</p>
                                <hr />
                            </span>
                        </td>
                        <td scope="row">
                            <span v-for="(item,key,index) in NextWeek " :key="index">
                                <p style="color:#0479f7">{{item.Content}}</p>
                                <hr />
                            </span>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fluid " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{titledetail}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">    
            <div class="row">
                <div v-html="contentdetail" class="col-lg-12 col-md-12 col-sm-12">
                    
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import Vue from "vue";
import EventBus from "../../../EventBus";
import Multiselect from "vue-multiselect";
import {
  TreeGridPlugin,
  ContextMenu,
  Sort,
  Filter,
  Edit,
  ExcelExport,
  PdfExport,
  Page,
  Resize,
  Toolbar
} from "@syncfusion/ej2-vue-treegrid";
Vue.use(TreeGridPlugin);

Vue.component("multiselect", Multiselect);
export default {
  name: "home",
  components:{
    Multiselect
  },
  data(){
    return{
      titledetail: '',
      contentdetail:'',
      imgdefault: "http://10.4.4.92:94/image/image.png",
      src: '',
      activetab: 1,
      optionDetail: function() {
        return {
          template: Vue.component("optionDetail", {
            template: `<div class="btn-group btn-group-sm">
                            <a @click="OpenDetail(data.key)" style="cursor: pointer;" class="btn btn-info">
                                <i style="color:white" class="fas fa-info-circle"></i>
                            </a>
                            </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
              OpenDetail(key) {
                $("#myModals").modal("show");
                EventBus.$emit("key",key)
              },
              Delete(key){
                  EventBus.$emit("key2",key)
              },
              Edit(key){
                  $("#modal-edit").modal("show")
                  EventBus.$emit("key3",key)
              }
            }
          })
        };
      },
      optionPathTemplate: function() {
        return {
          template: Vue.component("optionPathTemplate", {
            template: `<div id="optionPathTemplate">
                        <div class="btn-group">
                        <a  @click="open(data.linkpath)" style="cursor:pointer ; color: blue" >{{data.linkpath}}</a>
                        </div>
                      </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
             open(linkpath){
                function isValidURL(string) {
                  var res = string.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
                  return (res !== null)
                };
                var testCase = linkpath;
                if(isValidURL(testCase)){
                  window.open(linkpath, '_blank');
                }
                else{
                  this.$swal('Note !', `<span style="color: red">Browser is not allowed to access local resources , Please copy Link Path paste to the Windows Explorer ! Thank you</span>`, 'error');
                }
             }
            }
          })
        };
      },
      optionLinkTemplate: function() {
        return {
          template: Vue.component("optionLinkTemplate", {
            template: `<div id="optionLinkTemplate">
                        <div class="btn-group">
                        <b-col lg="4" class="pb-2"><b-button pill  v-if="data.link"  @click="watchvideo" size="sm" variant="danger">Watch Video</b-button></b-col>
                        </div>
                      </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
             watchvideo(){
                $("#myModal").modal("show");
             }
            }
          })
        };
      },
      optionCopyTemplate: function() {
        return {
          template: Vue.component("optionLinkTemplate", {
            template: `
              <i v-if="data.linkpath" style="cursor: pointer;font-size: 14px;" v-clipboard:copy="data.linkpath" v-clipboard:success="onCopy" v-clipboard:error="onError" class="far fa-clone"></i>
              `,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
              onCopy: function (e) {
                // alert('You just copied: ' + e.text)
                this.$swal('success !', 'copy successfully' + ' ' + e.text, 'success');
              },
              onError: function (e) {
                alert('Failed to copy texts')
              },
             watchvideo(){
                $("#myModal").modal("show");
             }
            }
          })
        };
      },
      ProjectnameTemplate: function() {
        return {
          template: Vue.component("ProjectnameTemplate", {
            template: `<a id="ProjectnameTemplate" v-b-tooltip.hover :title="data.title">
                      {{data.title}}
                      </a>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
            
            }
          })
        };
      },
      searchSettings: { hierarchyMode: "Parent" },
      contextMenuItems: [
        {
          text: "Add Function Project",
          iconCss: " e-icons e-add",
          target: ".e-content",
          id: "Add-Sub-OC"
        },
        // {
        //   text: "Edit Function Project",
        //   iconCss: " e-icons e-edit",
        //   target: ".e-content",
        //   id: "EditOC"
        // },
        {
          text: "Delete",
          iconCss: " e-icons e-delete",
          target: ".e-content",
          id: "DeleteOC"
        }
      ],
      toolbar: [
        "Search",
        "ExpandAll",
        "CollapseAll",
      ],
      editing: { allowDeleting: false, allowEditing: false, mode: "Row" },
      pageSettings: { pageSize: 100 },
      editparams: { params: { format: "n" } },
      expanded: {},
      data: [],
      data1: [],
      ListProject: [],
      ListSlide: [],
      ListArticle: [],
      title: null,
      Confidence: [],
      TeamHealth: [],
      Progress: [],
      NextWeek: []
    }
  },
  mounted(){
    EventBus.$on("key", this.getDetailOKR);
  },
  created(){
    this.getproject()
    this.getSlide()
    this.getArticle()
    this.getOCs()
    this.getOKR()
  },
  methods:{
    showdetailnews(id){
      $("#myModal2").modal("show")
      let self = this
      self.$api.get(`api/Articles/GetByID/${id}`).then(r=>{
        console.log("detail")
        console.log(r)
        self.titledetail = r.data.Name
        self.contentdetail = r.data.Content
      })
    },
    pushadmin(){
      window.open('#/admin', '_blank');
    },
    customiseCell: function(args) {
      // console.log("customiseCell");
      // console.log(args);

      if (args.column.field === "State") {
        args.cell.setAttribute("style", "background-color:red;color:white;");
      }
    },
    actionComplete(args) {
      var self = this;
      // console.log("actionComplete");
      // console.log(args);
      if (args.requestType == "save") {
        self.edit.title = args.data.title;
        self.$api.post("api/Ocs/Rename", {
          key: self.edit.key,
          title: self.edit.title
        }).then(res => {
          this.$swal("Success !", "Edit Successfully!", "success");
        });
      }
    },
    rowSelected(args) {
      // console.log(args);
      var self = this;
      self.src = args.data.link
      self.title = args.data.title
      self.edit = {
        key: args.data.key,
        title: args.data.title
      };
      self.oc = {
        id: args.data.key,
        name: args.data.title,
        level: args.data.levelnumber,
        parentid: args.data.parentid
      };
      // console.log(self.oc);
    },
    dataSourceChanged() {
      var self = this;
      self.getOCs();
    },
    getOCs() {
      var self = this;
      self.$api.get("api/Ocs/GetListTree").then(res => {
        // self.tasks = res.data;
        self.data = res.data;
        // console.log(self.data);
      });
    },
    getproject(){
      let self = this
      this.$api.get('api/Projects/GetListProject').then(res=>{
        // console.log(res)
        self.ListProject = res.data       
      })
    },
    getSlide(){
      let self = this
      this.$api.get('api/Slides/GetListSlide').then(res=>{
        // console.log(res)
        self.ListSlide = res.data    
      })
    },
    getArticle(){
      let self = this
      self.$api.get('api/Articles/Getall').then(r=>{
        self.ListArticle = r.data
        // console.log("Articles")
        // console.log(r)
      })
    },
    getOKR(){
      let self = this;
      self.$api.get("api/OKRs/GetListTree").then(res => {
        self.data1 = res.data;
      });
    },
    getDetailOKR(key){
        let self = this
        self.$api.get(`api/OKRs/GetDetail/${key}`).then(r=>{
            self.Confidence = r.data.Confidence,
            self.TeamHealth = r.data.Teamhealth,
            self.Progress = r.data.Progess,
            self.NextWeek = r.data.Nextweek
        })
    },
  },
  provide: {
    treegrid: [
      ContextMenu,
      Sort,
      Edit,
      ExcelExport,
      PdfExport,
      Page,
      Filter,
      Resize,
      Toolbar
    ]
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style >
p img {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-12 {
    width: 100%;
}

.blog-grids {
    overflow: hidden;
    margin: 0 -15px;
}

.blog-grids .grid {
    background-color: #fff;
    width: calc(33.33% - 30px);
    float: left;
    padding: 15px;
    margin: 20px 15px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.entry-media img {
    border-radius: 10px;
    width: 100%;
    max-height: 188px;
}

.entry-body {
    padding: 27px 10px;
}

.entry-body .cat {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #6220d9;
    text-transform: uppercase;
}

.entry-body h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.30em;
    margin: 3px 0 0.73em;
}

.entry-body h3 a {
    color: #41516a;
}

.entry-body h3 a:hover {
    color: #6220d9;
    text-decoration: none;
}

.entry-body p {
    margin-bottom: 2em;
    color: #90949a;
    line-height: 1.8em;
}

.read-more-date {
    position: relative;
}

.read-more-date a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-size: 1.06667rem;
    font-weight: 600;
    color: #41516a;
    text-transform: uppercase;
}

.read-more-date .date {
    position: absolute;
    right: 0;
    color: #90949a;
}

.e-treecell {
  font-size: 16px;
}
.e-treegrid .e-altrow {
    background-color: #1d0b0b26!important;
}
.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
      min-width: 90%;
  }
.e-headertext {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.74);
}
.e-treecell {
  font-size: 16px;
}
</style>
