<template>
  <div id="sidebar">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a @click="pushhome" style="cursor:pointer ; color: white" v-if="role ==1 "  class="brand-link">
        <img
          src="../../../assets/AdminLTELogo.png"
          alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3"
          style="opacity: .8"
        />
        <span class="brand-text font-weight-light">LABTEAM</span>
      </a>
      <a @click="pushhome" style="cursor:pointer ; color: white" v-else  class="brand-link">
        <img
          src="../../../assets/AdminLTELogo.png"
          alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3"
          style="opacity: .8"
        />
        <span class="brand-text font-weight-light">LABTEAM</span>
      </a>

      <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div v-if="role==1" class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img
              src="../../../assets/user2-160x160.jpg"
              class="img-circle elevation-2"
              alt="User Image"
            />
          </div>
          <div  class="info">
            <a href="#/admin" class="d-block">Admin</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul v-if="role == 1" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a href="#/admin-project" class="nav-link">
                <i class="fas fa-project-diagram"></i>
                <p>Project</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#/admin-slide" class="nav-link">
                <i class="fas fa-sliders-h"></i>
                <p>Carousel</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#/article" class="nav-link">
                <i class="nav-icon fas fa-newspaper"></i>
                <p>Article</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#/traning-resources" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>Training Resources</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#/okr" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>OKR</p>
              </a>
            </li>
            
          </ul>
          <ul v-else class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a href="#/traning-resources" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>Training Resources</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
    </aside>
  </div>
</template>

<script>
export default {
  name: "sidebar",
   data() {
    return {
      role: null
    }
  },
  created(){
    this.role = Number(localStorage.getItem("Role"))
    // console.log(Number(localStorage.getItem("Role")))
  },
  methods:{
    pushhome(){
      window.open('#/home', '_blank');
    }
  }
}
</script>

<style scoped></style>
