<template>
  <div>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container">

        <div class="logo float-left">
          <h1 class="text-light"><a href="#"><span>LabTeam</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="src/image/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu float-right ">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a @click="pushadmin" style="cursor:pointer ; color: white" target="blank">Sign in</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div v-for="(item,key,index) in ListSlide" :key="index"  :class='key === 0 ? "carousel-item active" : "carousel-item " ' :style="{ backgroundImage: 'url(' + item.Image + ')' }">
              <div class="carousel-container">
                <div class="carousel-content container">
                  <h2 class="animated fadeInDown">{{item.Title}}</h2>
                  <p class="animated fadeInUp">{{item.Subtitle}}</p>
                  <a href="#portfolio" class="btn-get-started animated fadeInUp">Read More</a>
                </div>
              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </section><!-- End Hero -->

    
    <main id="main">
      <!-- End Services Section -->

      <!-- ======= Our Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

          <div class="section-title">
            <!-- <h2>Our Projects</h2> -->
          </div>

          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <!-- <li v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]" data-filter=".filter-app" class="filter-active" >Projects</li> -->
                <li v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'filter-active' : '' ]" >Projects</li>
                <li data-filter=".filter-app" >OKR</li>
                <li v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'filter-active' : '' ]" >NEWS</li>
                <li v-on:click="activetab=3" v-bind:class="[ activetab === 3 ? 'filter-active' : '' ]">TRAINING RESOURCES</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container">
            <!-- <div v-for="(item,key,index) in ListProject" :key="index"  class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img :src="item.Image" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{item.Name}}</h4>
                  <div class="portfolio-links">
                    <a :href="item.Image" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                    <a :href="item.URL" target="blank" title="More Details"><i class="icofont-external-link"></i></a>
                  </div>
                </div>
              </div>
            </div> -->

            <div v-for="(item,key,index) in ListProject"  :key="index"  class="col-lg-4 col-md-6 portfolio-item ">
              <div v-if="activetab == 1" class="portfolio-wrap">
                <img :src="item.Image" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{item.Name}}</h4>
                  <div class="portfolio-links">
                    <a :href="item.Image" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                    <a :href="item.URL" target="blank" title="More Details"><i class="icofont-external-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

          

            <div class="col-lg-12 col-md-12 portfolio-item" >

              <div v-for="(item,key,index) in ListArticle" :key="index"  class="portfolio-wrap">
                <section v-if="activetab == 2" class="tab-content-right">
                  <section class="noImage pushLeft">
                    <h3 itemprop="headline">
                      <a itemprop="url" href="">
                      {{item.Name}}
                      </a>
                    </h3>
                    <p itemprop="description">
                      {{item.Description}}
                    </p>
                    <a class="round-link" itemprop="url" href=""></a>
                  </section>
                </section>
              </div>
            </div> 

            <div  v-if="activetab == 3"  class="col-lg-12 col-md-12 portfolio-item">
                <div class="portfolio-wrap" >
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title">List Project Training</h5>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>

                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                      <ejs-treegrid
                        ref="treegrid"
                        :dataSource="data"
                        childMapping="children"
                        :treeColumnIndex="1"
                        :allowPaging="true"
                        :pageSettings="pageSettings"
                        :allowExcelExport="true"
                        :allowPdfExport="true"
                        :allowSorting="true"
                        :editSettings="editing"
                        :dataSourceChanged="dataSourceChanged"
                        :rowSelected="rowSelected "
                        :actionComplete="actionComplete"
                        :searchSettings="searchSettings"
                        :toolbar="toolbar"
                      >
                        <e-columns>
                          <e-column
                            field="index"
                            width="100"
                            isPrimaryKey="true"
                            headerText="#"
                            :disableHtmlEncode="false"
                          ></e-column>
                          <e-column
                            field="title"
                            editType="stringedit"
                            headerText="Project Name"
                            :template="ProjectnameTemplate"
                            :edit="editparams"
                            :disableHtmlEncode="false"
                          ></e-column>


                          <e-column field="link" editType="stringedit" headerText="Video Toturial"
                            :edit="editparams"
                            :template="optionLinkTemplate"
                            :disableHtmlEncode="false"
                          ></e-column>

                          <e-column field="linkpath" editType="stringedit" headerText="Link Path"
                            :edit="editparams"
                            :template="optionPathTemplate"
                            :disableHtmlEncode="false"
                          ></e-column>

                          <e-column field="" editType="stringedit" headerText=""
                            width="100"
                            :edit="editparams"
                            :template="optionCopyTemplate"
                            :disableHtmlEncode="false"
                          ></e-column>

                        </e-columns>
                      </ejs-treegrid>
                    </div>
                  </div>
                </div>
              </div>

            </div>

        </div>
      </section>
      <!-- End Our Portfolio Section -->

     

    </main>
    <!-- End #main -->

  

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Modal watch video -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fluid " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">    
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" :src="src" id="video" width="960" height="540"  allowscriptaccess="always" allowfullscreen  ></iframe>
            </div> 
          </div>
        </div>
      </div>
    </div> 

    <!-- end modal watch -->
  </div>
</template>
<script>
import Vue from "vue";
import Multiselect from "vue-multiselect";
import {
  TreeGridPlugin,
  ContextMenu,
  Sort,
  Filter,
  Edit,
  ExcelExport,
  PdfExport,
  Page,
  Resize,
  Toolbar
} from "@syncfusion/ej2-vue-treegrid";
Vue.use(TreeGridPlugin);

Vue.component("multiselect", Multiselect);
export default {
  name: "home",
  components:{
    Multiselect
  },
  data(){
    return{
      src: '',
      activetab: 3,
      optionPathTemplate: function() {
        return {
          template: Vue.component("optionPathTemplate", {
            template: `<div id="optionPathTemplate">
                        <div class="btn-group">
                        <a  @click="open(data.linkpath)" style="cursor:pointer ; color: blue" >{{data.linkpath}}</a>
                        </div>
                      </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
             open(linkpath){
                function isValidURL(string) {
                  var res = string.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
                  return (res !== null)
                };
                var testCase = linkpath;
                if(isValidURL(testCase)){
                  window.open(linkpath, '_blank');
                }
                else{
                  this.$swal('Note !', `<span style="color: red">Browser is not allowed to access local resources , Please copy Link Path paste to the Windows Explorer ! Thank you</span>`, 'error');
                }
             }
            }
          })
        };
      },
      optionLinkTemplate: function() {
        return {
          template: Vue.component("optionLinkTemplate", {
            template: `<div id="optionLinkTemplate">
                        <div class="btn-group">
                        <b-col lg="4" class="pb-2"><b-button pill  v-if="data.link"  @click="watchvideo" size="sm" variant="danger">Watch Video</b-button></b-col>
                        </div>
                      </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
             watchvideo(){
                $("#myModal").modal("show");
             }
            }
          })
        };
      },
      optionCopyTemplate: function() {
        return {
          template: Vue.component("optionLinkTemplate", {
            template: `
              <i v-if="data.linkpath" style="cursor: pointer;font-size: 14px;" v-clipboard:copy="data.linkpath" v-clipboard:success="onCopy" v-clipboard:error="onError" class="far fa-clone"></i>
                          `,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
              onCopy: function (e) {
                // alert('You just copied: ' + e.text)
                this.$swal('success !', 'copy successfully' + ' ' + e.text, 'success');
              },
              onError: function (e) {
                alert('Failed to copy texts')
              },
             watchvideo(){
                $("#myModal").modal("show");
             }
            }
          })
        };
      },
      ProjectnameTemplate: function() {
        return {
          template: Vue.component("ProjectnameTemplate", {
            template: `<a id="ProjectnameTemplate" v-b-tooltip.hover :title="data.title">
                      {{data.title}}
                      </a>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
            
            }
          })
        };
      },
      searchSettings: { hierarchyMode: "Parent" },
      oc: { id: 0, name: "",link: "", level: 0, parentid: 0 },
      modalTitle: "Add Project Training",
      editparams: { params: { format: "n" } },
      contextMenuItems: [
        {
          text: "Add Function Project",
          iconCss: " e-icons e-add",
          target: ".e-content",
          id: "Add-Sub-OC"
        },
        // {
        //   text: "Edit Function Project",
        //   iconCss: " e-icons e-edit",
        //   target: ".e-content",
        //   id: "EditOC"
        // },
        {
          text: "Delete",
          iconCss: " e-icons e-delete",
          target: ".e-content",
          id: "DeleteOC"
        }
      ],
      toolbar: [
        // "Search",
        "ExpandAll",
        "CollapseAll",
      ],
      editing: { allowDeleting: false, allowEditing: false, mode: "Row" },
      pageSettings: { pageSize: 100 },
      editparams: { params: { format: "n" } },
      expanded: {},
      data: [],
      who: "",
      primaryKey: 0,
      remarkObj: {
        id: 0,
        remark: ""
      },
      edit: {
        key: 0,
        title: ""
      },
      ListProject: [],
      ListSlide: [],
      ListArticle: [],
      title: null
    }
  },
  mounted(){

  },
  created(){
    this.getproject()
    this.getSlide()
    this.getArticle()
    this.getOCs()
  },
  methods:{
    pushadmin(){
      window.open('#/admin', '_blank');
    },
    customiseCell: function(args) {
      console.log("customiseCell");
      console.log(args);

      if (args.column.field === "State") {
        args.cell.setAttribute("style", "background-color:red;color:white;");
      }
    },
    actionComplete(args) {
      var self = this;
      console.log("actionComplete");
      console.log(args);
      if (args.requestType == "save") {
        self.edit.title = args.data.title;
        self.$api.post("api/Ocs/Rename", {
          key: self.edit.key,
          title: self.edit.title
        }).then(res => {
          this.$swal("Success !", "Edit Successfully!", "success");
        });
      }
    },
    rowSelected(args) {
      console.log(args);
      var self = this;
      self.src = args.data.link
      self.title = args.data.title
      self.edit = {
        key: args.data.key,
        title: args.data.title
      };
      self.oc = {
        id: args.data.key,
        name: args.data.title,
        level: args.data.levelnumber,
        parentid: args.data.parentid
      };
      // console.log(self.oc);
    },
    dataSourceChanged() {
      var self = this;
      self.getOCs();
    },
    getOCs() {
      var self = this;
      self.$api.get("api/Ocs/GetListTree").then(res => {
        // self.tasks = res.data;
        self.data = res.data;
        console.log(self.data);
      });
    },
    getproject(){
      let self = this
      this.$api.get('api/Projects/GetListProject').then(res=>{
        // console.log(res)
        self.ListProject = res.data       
      })
    },
    getSlide(){
      let self = this
      this.$api.get('api/Slides/GetListSlide').then(res=>{
        // console.log(res)
        self.ListSlide = res.data    
      })
    },
    getArticle(){
      let self = this
      this.$api.get('api/Articles/Getall').then(r=>{
        self.ListArticle = r.data
        // console.log("Articles")
        // console.log(r)
      })
    }
  },
  provide: {
    treegrid: [
      ContextMenu,
      Sort,
      Edit,
      ExcelExport,
      PdfExport,
      Page,
      Filter,
      Resize,
      Toolbar
    ]
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style >
.e-treecell {
  font-size: 16px;
}
.e-treegrid .e-altrow {
    background-color: #1d0b0b26!important;
}
.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }
.e-headertext {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.74);
}
.e-treecell {
  font-size: 16px;
}
</style>
