<template>
  <div>
    <div class="row">
      <div class="col-md-12 pb-4">
        <button
          type="button"
          class="btn bg-gradient-secondary btn-sm"
          data-toggle="modal"
          data-target="#modal-oc"
        >
          <i class="fas fa-plus"></i> Add OKR
        </button>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">List OKR</h5>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>

              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <ejs-treegrid
              ref="treegrid"
              :dataSource="data"
              childMapping="children"
              :treeColumnIndex="1"
              :allowPaging="true"
              :pageSettings="pageSettings"
              :allowExcelExport="true"
              :allowPdfExport="true"
              :allowSorting="true"
              :contextMenuItems="contextMenuItems"
              :contextMenuClick="contextMenuClick"
              :dataSourceChanged="dataSourceChanged"
              :editSettings="editing"
              :rowSelected="rowSelected "
              :actionComplete="actionComplete"
              :searchSettings="searchSettings"
              :toolbar="toolbar"
            >
              <e-columns>
                <e-column
                  field="index"
                  width="100"
                  isPrimaryKey="true"
                  headerText="#"
                  :disableHtmlEncode="false"
                ></e-column>
                <e-column
                  field="title"
                  editType="stringedit"
                  headerText="OKR Name"
                  :edit="editparams"
                  :disableHtmlEncode="false"
                ></e-column>

                <e-column
                  editType="stringedit"
                  headerText="Options"
                  isPrimaryKey="false"
                  :edit="editparams"
                  :template="optionLinkTemplate"
                  :disableHtmlEncode="false"
                ></e-column>
              </e-columns>
            </ejs-treegrid>
          </div>
          <!-- ./card-body -->
        </div>

        <!-- /.card -->
      </div>

      <!-- /.col -->
    </div>

    <!-- modal-add-okr -->
    <div class="modal fade" id="modal-oc" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fas fa-plus"></i>
              {{modalTitle}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="text" id="Name" v-model="name" class="form-control Name" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="createTask">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- end modal -->

    <!-- modal-edit -->
    <div class="modal fade" id="modal-edit" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fas fa-plus"></i>
              Update OKR Detail
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label>OKR CONFIDENCE</label>
                <select v-model="confi" class="form-control" disabled  >
                    <option v-for="(item,key,index) in options" :key="index" :label="item.Name"  :value="item.Name"></option>
                </select>
              </div>
              <div class="form-group col-md-12" v-for="(input,k) in Confidence" :key="k">
                    <label for="Name">Content</label>
                    <textarea v-model="input.Content" @keyup="keyup1"  class="form-control" rows="5" id="comment"></textarea>
                    <!-- <input type="text" id="Name" @keyup="keyup1" v-model="input.Content" class="form-control Name" /> -->
                    <span>
                    <i class="fas fa-minus-circle" @click="remove1(input.ID)" v-show="k || ( !k && Confidence.length > 1)"></i>
                    <i class="fas fa-plus-circle" @click="add1(k)" v-show="k == Confidence.length-1"></i>
                    </span>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="saveOKR1">Save changes</button>
          </div>
        </div>

        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label>TEAM HEALTH</label>
                <select v-model="teamhe" class="form-control" disabled  >
                    <option v-for="(item,key,index) in options" :key="index" :label="item.Name"  :value="item.Name"></option>
                </select>
              </div>
              <div class="form-group col-md-12" v-for="(input,k) in TeamHealth" :key="k">
                    <label for="Name">Content</label>
                    <!-- <textarea v-model="input.Content" @keyup="keyup1"  class="form-control" rows="5" id="comment"></textarea> -->
                    <input type="text" id="Name" @keyup="keyup1" v-model="input.Content" class="form-control Name" />
                    <span>
                    <!-- <i class="fas fa-minus-circle" @click="remove1(k)" v-show="k || ( !k && Confidence.length > 1)"></i>
                    <i class="fas fa-plus-circle" @click="add1(k)" v-show="k == Confidence.length-1"></i> -->
                    </span>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="saveOKR2">Save changes</button>
          </div>
        </div>

        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label>OKR PROGRESS</label>
                <select v-model="prog" class="form-control" disabled  >
                    <option v-for="(item,key,index) in options" :key="index" :label="item.Name"  :value="item.Name"></option>
                </select>
              </div>
              <div class="form-group col-md-12" v-for="(input,k) in Progress" :key="k">
                    <label for="Name">Content</label>
                    <textarea v-model="input.Content" @keyup="keyup1"  class="form-control" rows="5" id="comment"></textarea>
                    <!-- <input type="text" id="Name" @keyup="keyup1" v-model="input.Content" class="form-control Name" /> -->
                    <span>
                    <i class="fas fa-minus-circle" @click="remove2(input.ID)" v-show="k || ( !k && Progress.length > 1)"></i>
                    <i class="fas fa-plus-circle" @click="add2(k)" v-show="k == Progress.length-1"></i>
                    </span>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="saveOKR3">Save changes</button>
          </div>
        </div>

        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label>NEXT 4 WEEKS</label>
                <select v-model="next" class="form-control" disabled  >
                    <option v-for="(item,key,index) in options" :key="index" :label="item.Name"  :value="item.Name"></option>
                </select>
              </div>
              <div class="form-group col-md-12" v-for="(input,k) in NextWeek" :key="k">
                    <label for="Name">Content</label>
                    <textarea v-model="input.Content" @keyup="keyup1"  class="form-control" rows="5" id="comment"></textarea>
                    <!-- <input type="text" id="Name" @keyup="keyup1" v-model="input.Content" class="form-control Name" /> -->
                    <span>
                    <i class="fas fa-minus-circle" @click="remove3(input.ID)" v-show="k || ( !k && NextWeek.length > 1)"></i>
                    <i class="fas fa-plus-circle" @click="add3(k)" v-show="k == NextWeek.length-1"></i>
                    </span>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="saveOKR4">Save changes</button>
          </div>
        </div>
        
        <!-- /.modal-content -->
      </div>
    </div>
    <!-- end modal -->

    <!-- modal-add-detail-okr -->
    <div class="modal fade" id="modal-add-function" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <!-- <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fas fa-plus"></i>
              {{modalTitle}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label for="Name">OKR Category (*)</label>
                <select v-model="category"  class="form-control" id="exampleFormControlSelect1">
                    <option v-for="(item,key,index) in options" :key="index" :label="item.Name" :value="item.ID"></option>
                </select>
              </div>
              <div class="form-group col-md-12" v-for="(input,k) in inputs" :key="k">
                <label for="Name">Fields</label>
                <input type="text" id="Name" @keyup="keyup" v-model="input.name" class="form-control Name" />
                <span>
                  <i class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)"></i>
                  <i class="fas fa-plus-circle" @click="add(k)" v-show="k == inputs.length-1"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="saveOKR">Save changes</button>
          </div>
        </div> -->

        <!-- OKR CONFIDENCE -->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fas fa-plus"></i>
              {{modalTitle}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label>OKR CONFIDENCE</label>
                <select v-model="confi" class="form-control" disabled  >
                    <option v-for="(item,key,index) in options" :key="index" :label="item.Name"  :value="item.Name"></option>
                </select>
              </div>
              <div class="form-group col-md-12" v-for="(input,k) in inputs1" :key="k">
                <label for="Name">Content</label>
                <textarea v-model="input.name" @keyup="keyup"  class="form-control" rows="5" id="comment"></textarea>
                <!-- <input type="text" id="Name" @keyup="keyup" v-model="input.name" class="form-control Name" /> -->
                <span>
                  <i class="fas fa-minus-circle" @click="removedetail1(k)" v-show="k || ( !k && inputs1.length > 1)"></i>
                  <i class="fas fa-plus-circle" @click="addrowdetail1(k)" v-show="k == inputs1.length-1"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="addDetail1">Save changes</button>
          </div>
        </div>

        <!-- TEAM HEALTH -->
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label>TEAM HEALTH</label>
                <select v-model="teamhe" class="form-control" disabled  >
                    <option v-for="(item,key,index) in options" :key="index" :label="item.Name"  :value="item.Name"></option>
                </select>
              </div>
              <div class="form-group col-md-12" v-for="(input,k) in inputs2" :key="k">
                <label for="Name">Content</label>
                <textarea v-model="input.name" @keyup="keyup"  class="form-control" rows="5" id="comment"></textarea>
                <!-- <input type="text" id="Name" @keyup="keyup" v-model="input.name" class="form-control Name" /> -->
                <!-- <span>
                  <i class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)"></i>
                  <i class="fas fa-plus-circle" @click="add(k)" v-show="k == inputs.length-1"></i>
                </span> -->
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="addDetail2">Save changes</button>
          </div>
        </div>

        <!-- OKR PROGRESS -->
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label>OKR PROGRESS</label>
                <select v-model="prog" class="form-control" disabled  >
                    <option v-for="(item,key,index) in options" :key="index" :label="item.Name"  :value="item.Name"></option>
                </select>
              </div>
              <div class="form-group col-md-12" v-for="(input,k) in inputs3" :key="k">
                <label for="Name">Content</label>
                <textarea v-model="input.name" @keyup="keyup"  class="form-control" rows="5" id="comment"></textarea>
                <!-- <input type="text" id="Name" @keyup="keyup" v-model="input.name" class="form-control Name" /> -->
                <span>
                  <i class="fas fa-minus-circle" @click="removedetail2(k)" v-show="k || ( !k && inputs3.length > 1)"></i>
                  <i class="fas fa-plus-circle" @click="addrowdetail2(k)" v-show="k == inputs3.length-1"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="addDetail3">Save changes</button>
          </div>
        </div>

        <!-- NEXT 4 WEEKS -->
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <label>NEXT 4 WEEKS</label>
                <select v-model="next" class="form-control" disabled  >
                    <option v-for="(item,key,index) in options" :key="index" :label="item.Name"  :value="item.Name"></option>
                </select>
              </div>
              <div class="form-group col-md-12" v-for="(input,k) in inputs4" :key="k">
                <label for="Name">Content</label>
                <textarea v-model="input.name" @keyup="keyup"  class="form-control" rows="5" id="comment"></textarea>
                <!-- <input type="text" id="Name" @keyup="keyup" v-model="input.name" class="form-control Name" /> -->
                <span>
                  <i class="fas fa-minus-circle" @click="removedetail3(k)" v-show="k || ( !k && inputs4.length > 1)"></i>
                  <i class="fas fa-plus-circle" @click="addrowdetail3(k)" v-show="k == inputs4.length-1"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="addDetail4">Save changes</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end modal -->

    <!-- Modal Detail OKR -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fluid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>  
            </div>
            <div class="modal-body">   
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center">OKR CONFIDENCE</th>
                        <th scope="col" style="text-align: center">TEAM HEALTH</th>
                        <th scope="col" style="text-align: center">OKR PROGRESS</th>
                        <th scope="col" style="text-align: center">NEXT 4 WEEKS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <span v-for="(item,key,index) in Confidence" :key="index">
                                <p style="color:#0479f7" >{{item.Content }}  </p>
                                <hr />
                            </span>
                        </td>
                        <td scope="row" style="text-align: center">
                            <span v-for="(item,key,index) in TeamHealth " :key="index"  class="badge badge-success">{{item.Content}}</span>
                        </td>
                        <td scope="row">
                            <span v-for="(item,key,index) in Progress " :key="index">
                                <p style="color:#0479f7">{{item.Content}}</p>
                                <hr />
                            </span>
                        </td>
                        <td scope="row">
                            <span v-for="(item,key,index) in NextWeek " :key="index">
                                <p style="color:#0479f7">{{item.Content}}</p>
                                <hr />
                            </span>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>

    
  </div>
</template>

<script>
import Vue from "vue";
import Multiselect from "vue-multiselect";
import { Datetime } from "vue-datetime";
import EventBus from "../../../EventBus";
import {
  TreeGridPlugin,
  ContextMenu,
  Sort,
  Filter,
  Edit,
  ExcelExport,
  PdfExport,
  Page,
  Resize,
  Toolbar
} from "@syncfusion/ej2-vue-treegrid";
Vue.use(TreeGridPlugin);
// register globally
const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Vue.component("multiselect", Multiselect);
export default {
  name: "client-task",
  components: {
    Multiselect,
    Datetime,
    Link: null
  },
  data() {
    return {
      category: null,
      options: [],
      selectedOkrcategory: "",
      contents: null,
      inputs1: [
        {
          name: ""
        }
      ],
      inputs2: [
        {
          name: ""
        }
      ],
      inputs3: [
        {
          name: ""
        }
      ],
      inputs4: [
        {
          name: ""
        }
      ],
      src: "",
      showModal: false,
      optionLinkTemplate: function() {
        return {
          template: Vue.component("optionLinkTemplate", {
            template: `<div class="btn-group btn-group-sm">
                            <a @click="Edit(data.key)" style="cursor: pointer;" class="btn btn-info">
                                <i style="color:white" class="fas fa-edit"></i>
                            </a>
                            <a @click="Delete(data.key)" style="cursor: pointer;"   class="btn btn-danger">
                                <i style="color:white" class="fas fa-trash"></i>
                            </a>
                            <a @click="OpenDetail(data.key)" style="cursor: pointer;" class="btn btn-info">
                                <i style="color:white" class="fas fa-info-circle"></i>
                            </a>
                            </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
              OpenDetail(key) {
                $("#myModal").modal("show");
                EventBus.$emit("key",key)
              },
              Delete(key){
                  EventBus.$emit("key2",key)
              },
              Edit(key){
                  $("#modal-edit").modal("show")
                  EventBus.$emit("key3",key)
              }
            }
          })
        };
      },
      optionPathTemplate: function() {
        return {
          template: Vue.component("optionPathTemplate", {
            template: `<div id="optionPathTemplate">
                        <div class="btn-group">
                        <a  @click="open(data.linkpath)" style="cursor:pointer ; color: blue" >{{data.linkpath}}</a>
                        </div>
                      </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
              open(linkpath) {
                //  $("#Linkpath").modal("show");
                this.$swal(
                  "Note !",
                  `Browser is not allowed to access local resources , Please copy Link Path paste to the Windows Explorer`,
                  "error"
                );
              }
            }
          })
        };
      },
      searchSettings: { hierarchyMode: "Parent" },
      oc: { id: 0, name: "", link: "", level: 0, parentid: 0 },
      modalTitle: "Add OKR",
      editparams: { params: { format: "n" } },
      contextMenuItems: [
        {
          text: "Add Detail OKR",
          iconCss: " e-icons e-add",
          target: ".e-content",
          id: "AddDetailOKR"
        }
      ],
      toolbar: ["Search", "ExpandAll", "CollapseAll"],
      editing: { allowDeleting: true, allowEditing: true, mode: "Row" },
      pageSettings: { pageSize: 100 },
      editparams: { params: { format: "n" } },
      expanded: {},
      data: [],
      primaryKey: 0,    
      edit: {
        key: 0,
        title: "",
        
      },
      name: "",
      link: "",
      Editname: "",
      Editpath: "",
      id: "",
      okrid: '',
      confi: '',
      teamhe: '',
      prog: '',
      next: '',
      Confidence: [],
      TeamHealth: [],
      Progress: [],
      NextWeek: [],
      title: '',
      categoryid: '',
      categoryid2: '',
      categoryid3: '',
      categoryid4: ''
    };
  },
  created() {
    this.getOCs();
    this.GetOKRCategory();
  },
  mounted() {
    let self = this;
    $("#myModal").on("hidden.bs.modal", function() {
      self.src = "";
    });
    EventBus.$on("key", this.getDetailOKR);
    EventBus.$on("key2", this.Delete);
    EventBus.$on("key3", this.GetOKRCategory);
    EventBus.$on("key3", this.getDetailOKR );
  },
  destroyed() {
    // Stop listening the event hello with handler
    EventBus.$off("key", this.getDetailOKR);
    EventBus.$off("key2", this.Delete);
    EventBus.$off("key3", this.GetOKRCategory);
    // EventBus.$off("reciveConnection", this.reciveConnection);
  },
  methods: {
    addDetail1(){
        let self = this
        let arrcontent = self.inputs1.map(item=>{
            return item.name
        }).join("@@##")
        self.$api.post("api/OKRs/Add",{
            arrContent: arrcontent,
            CategoryID: self.categoryid,
            OKRID: self.okrid
        }).then(r=>{
            Toast.fire({
                icon: 'success',
                title: 'successfully'
            })
            self.inputs1 = [
                {
                name: ""
                }
            ]
        })
    },
    addDetail2(){
        let self = this
        let arrcontent = self.inputs2.map(item=>{
            return item.name
        }).join("@@##")
        self.$api.post("api/OKRs/Add",{
            arrContent: arrcontent,
            CategoryID: self.categoryid2,
            OKRID: self.okrid
        }).then(r=>{
            Toast.fire({
                icon: 'success',
                title: 'successfully'
            })
            self.inputs2 = [
                {
                name: ""
                }
            ]
        })
    },
    addDetail3(){
        let self = this
        let arrcontent = self.inputs3.map(item=>{
            return item.name
        }).join("@@##")
        self.$api.post("api/OKRs/Add",{
            arrContent: arrcontent,
            CategoryID: self.categoryid3,
            OKRID: self.okrid
        }).then(r=>{
            Toast.fire({
                icon: 'success',
                title: 'successfully'
            })
            self.inputs3 = [
                {
                name: ""
                }
            ]
        })
    },
    addDetail4(){
        let self = this
        let arrcontent = self.inputs4.map(item=>{
            return item.name
        }).join("@@##")
        self.$api.post("api/OKRs/Add",{
            arrContent: arrcontent,
            CategoryID: self.categoryid4,
            OKRID: self.okrid
        }).then(r=>{
            Toast.fire({
                icon: 'success',
                title: 'successfully'
            })
            self.inputs4 = [
                {
                name: ""
                }
            ]
        })
    },
    Delete(key){
        this.$swal({
          title: 'Are you sure?',
          text: 'You can\'t revert your action',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes Delete it!',
          cancelButtonText: 'No, Keep it!',
          showCloseButton: true,
          showLoaderOnConfirm: true
        })
        .then(result => {
          if (result.value) {
            this.$api.delete(`api/OKRs/DeleteOkr/${key}`)
              .then(r => {
                this.getOCs();
                this.$swal('Deleted', 'You successfully deleted this OKR', 'success')
              })
              .catch(r => {
                console.log(r);
              });
          } else {
            this.$swal('Cancelled', 'Your OKR is still intact', 'info')
          }
        });
    },
    getDetailOKR(key){
        let self = this
        self.$api.get(`api/OKRs/GetDetail/${key}`).then(r=>{
            self.Confidence = r.data.Confidence,
            self.TeamHealth = r.data.Teamhealth,
            self.Progress = r.data.Progess,
            self.NextWeek = r.data.Nextweek
        })
    },
    keyup(e){
        this.contents= this.inputs1.map(item=>{
            return item.name;
        }).join("@@##")
    },
    keyup1(e){
        this.contents= this.Confidence.map(item=>{
            return item.Content;
        }).join("@@##")
        
    },
    saveOKR(){
        let self = this
        var entity = {
            Content: self.contents,
            CategoryID: self.category,
            OKRID: self.okrid
        }
        self.$api.post("api/OKRs/Add",JSON.stringify(entity)).then(r=>{
            this.$swal('Success !', 'New OKR Detail Add Success', 'success');
            $("#modal-add-function").modal("hide")
            self.contents = ""
            self.inputs = [
                {
                name: ""
                }
            ],
            self.category = ""
        })
    },
    saveOKR1(){
        let self = this
        let arr = self.Confidence.map(item=>{
            return item.ID
        }).join("@@##")
        let arrcontent = self.Confidence.map(item=>{
            return item.Content
        }).join("@@##")
        self.$api.post("api/okrs/updateokr",{
            arrID: arr,
            CategoryID: self.categoryid,
            arrContent: arrcontent,
            okrid : self.okrid
        }).then(r=>{
            Toast.fire({
                icon: 'success',
                title: 'successfully'
            })
           self.getDetailOKR(self.okrid)
        })
    },
    saveOKR2(){
        let self = this
        let arr = self.TeamHealth.map(item=>{
            return item.ID
        }).join("@@##")
        let arrcontent = self.TeamHealth.map(item=>{
            return item.Content
        }).join("@@##")
        self.$api.post("api/okrs/updateokr",{
            arrID: arr,
            CategoryID: self.categoryid2,
            arrContent: arrcontent,
            okrid : self.okrid
        }).then(r=>{
            Toast.fire({
                icon: 'success',
                title: 'successfully'
            })
           self.getDetailOKR(self.okrid)
        })
    },
    saveOKR3(){
        let self = this
        let arr = self.Progress.map(item=>{
            return item.ID
        }).join("@@##")
        let arrcontent = self.Progress.map(item=>{
            return item.Content
        }).join("@@##")
        self.$api.post("api/okrs/updateokr",{
            arrID: arr,
            CategoryID: self.categoryid3,
            arrContent: arrcontent,
            okrid : self.okrid
        }).then(r=>{
            Toast.fire({
                icon: 'success',
                title: 'successfully'
            })
            self.getDetailOKR(self.okrid)
        })
    },
    saveOKR4(){
        let self = this
        let arr = self.NextWeek.map(item=>{
            return item.ID
        }).join("@@##")
        let arrcontent = self.NextWeek.map(item=>{
            return item.Content
        }).join("@@##")
        self.$api.post("api/okrs/updateokr",{
            arrID: arr,
            CategoryID: self.categoryid4,
            arrContent: arrcontent,
            okrid : self.okrid
        }).then(r=>{
          console.log(r)
            Toast.fire({
                icon: 'success',
                title: 'successfully'
            })
            self.getDetailOKR(self.okrid)
        })
    },
    GetOKRCategory(){
        let self = this
        self.$api.get("api/OKRs/GetOKRCategory").then(r=>{
            // console.log(r)
            self.options = r.data
            self.confi = r.data[0].Name
            self.categoryid = r.data[0].ID
            self.teamhe = r.data[1].Name
            self.categoryid2 = r.data[1].ID
            self.prog = r.data[2].Name
            self.categoryid3 = r.data[2].ID
            self.next = r.data[3].Name
            self.categoryid4 = r.data[3].ID
        })
    },
    addrowdetail1(index){
        this.inputs1.push({ name: "" });
    },
    addrowdetail2(index){
        this.inputs3.push({ name: "" });
    },
    addrowdetail3(index){
        this.inputs4.push({ name: "" });
    },
    add(index) {
        this.inputs.push({ name: "" });
    },
    add1(index) {
        this.Confidence.push({ Content: "",ID:0 });
    },
    add2(index) {
        this.Progress.push({ Content: "",ID:0 });
    },
    add3(index) {
        this.NextWeek.push({ Content: "",ID:0 });
    },
    removedetail1(index) {
      this.inputs1.splice(index, 1);
    },
    removedetail2(index) {
      this.inputs3.splice(index, 1);
    },
    removedetail3(index) {
      this.inputs4.splice(index, 1);
    },
    remove1(ID) {
      let self = this ;
      self.$api.delete(`api/okrs/DeleteOkrDetail/${ID}`).then(r=>{
          console.log("delete okr success")
          self.getDetailOKR(self.okrid)
      })
     
    },
    remove2(ID) {
      let self = this ;
      self.$api.delete(`api/okrs/DeleteOkrDetail/${ID}`).then(r=>{
          console.log("delete okr success")
          self.getDetailOKR(self.okrid)
      })
    },
    remove3(ID) {
       let self = this ;
      self.$api.delete(`api/okrs/DeleteOkrDetail/${ID}`).then(r=>{
          console.log("delete okr success")
          self.getDetailOKR(self.okrid)
      })
    },
    actionComplete(args) {
      var self = this;
      // console.log("actionComplete");
      // console.log(args);
      // console.log(self.edit.title);
      // console.log(self.edit.key);
      if (args.requestType == "save") {
        self.edit.title = args.data.title;
        self.$api
          .post("api/okrs/Rename", {
            key: self.edit.key,
            title: self.edit.title,
          })
          .then(res => {
            Toast.fire({
                icon: 'success',
                title: 'successfully'
            })
          });
      }
    },
    rowSelected(args) {
      // console.log("rowSelected ");
      // console.log(args);
      var self = this;
      self.src = args.data.link;
      self.okrid = args.data.key
      self.title = args.data.title
      self.edit = {
        key: args.data.key,
        title: args.data.title
      };
      self.oc = {
        id: args.data.key,
        name: args.data.title,
        level: args.data.levelnumber,
        parentid: args.data.parentid
      };
      // console.log(self.oc);
    },
    dataSourceChanged() {
      var self = this;
      self.getOCs();
    },
    contextMenuClick: function(args) {
      var self = this;
      // console.log(args);
      // console.log(args.rowInfo.rowData);
      if (args.item.id == "EditOC") {
        self.modalTitle = "Edit Function Project";
        $("#modal-edit").modal("show");
        self.Editname = self.oc.name;
        self.Editpath = args.rowInfo.rowData.linkpath;
        self.id = self.oc.id;
        console.log(self.oc);
        //self.delete(args.rowInfo.rowData.ID);
      } else if (args.item.id === "DeleteOC") {
        self.delete(args.rowInfo.rowData.key);
      } else if(args.item.id === "AddDetailOKR"){
          self.modalTitle = "Add Detail OKR";
          $("#modal-add-function").modal("show")
      } else {
        self.modalTitle = "Add OKR";
        self.oc.parentid = args.rowInfo.rowData.key;
        $("#modal-add").modal("show");
        // console.log(self.oc);
      }
    },
    customiseCell: function(args) {
      // console.log("customiseCell");
      // console.log(args);

      if (args.column.field === "State") {
        args.cell.setAttribute("style", "background-color:red;color:white;");
      }
    },
    getOCs() {
      let self = this;
      self.$api.get("api/OKRs/GetListTree").then(res => {
        self.data = res.data;
      });
    },
    clearFrom() {
      this.oc = { id: 0, name: "", level: 0 };
      (this.name = ""), (this.pathlink = "");
    },
    createTask() {
      var self = this;
      if (self.oc.parentid > 0) {
        self.$api
          .post("api/OKRs/CreatesubOC", {
            name: self.name,
            level: self.oc.level + 1,
            parentid: self.oc.parentid,
            url: self.link
          })
          .then(res => {
            if (res.data) {
              self.clearFrom();
              $("#modal-add-function").modal("hide");
              self.dataSourceChanged();
            }
            self.$swal(
              "Success !",
              "New Function Project Add Success",
              "success"
            );
          });
      } else {
        self.$api
          .post("api/OKRs/CreateOC", {
            name: self.name,
            parentid: self.oc.parentid
          })
          .then(res => {
            // self.data = res.data;
            if (res.data) {
              self.clearFrom();
              $("#modal-oc").modal("hide");
              self.$swal("Success !", "New OKR Add Success", "success");
              self.dataSourceChanged();
            }
            console.log(res);
          });
      }
      this.modalTitle = "OC Add";
    },
    createTask2() {
      var self = this;
      if (self.oc.parentid > 0) {
        var formData = new FormData();
        var fileUpload = document.querySelector("#modal-add-function .Link");
        formData.append("UploadedFile", fileUpload.files[0]);
        formData.append("UploadedFileName", self.name);
        formData.append("UploadedFileLevel", self.oc.level + 1);
        formData.append("UploadedFileParentID", self.oc.parentid);
        formData.append("UploadedFilePath", self.pathlink);
        self.$api
          .post("api/Ocs/CreateSubOC2", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(res => {
            if (res.data) {
              $("#modal-add-function").modal("hide");
              self.dataSourceChanged();
              self.clearFrom();
            }
            self.$swal(
              "Success !",
              "New Function Project Add Success",
              "success"
            );
          });
      } else {
        var formData = new FormData();
        var fileUpload = document.querySelector("#modal-oc .Link");
        formData.append("UploadedFile", fileUpload.files[0]);
        formData.append("UploadedFileName", self.name);
        formData.append("UploadedFileParentID", self.oc.parentid);
        formData.append("UploadedFilePath", self.pathlink);
        self.$api
          .post("api/Ocs/CreateOC2", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(res => {
            // self.data = res.data;
            if (res.data) {
              $("#modal-oc").modal("hide");
              // self.clearFrom();
              self.$swal("Success !", "New Project Add Success", "success");
              self.dataSourceChanged();
            }
            console.log(res);
          });
      }
      this.modalTitle = "OC Add";
    },
    update() {
      let self = this;
      var formData = new FormData();
      var fileUpload = document.querySelector("#modal-edit .Link");
      formData.append("UploadedFile", fileUpload.files[0]);
      formData.append("UploadedFileName", self.Editname);
      formData.append("UploadedFilePath", self.Editpath);
      formData.append("UploadedFileID", self.id);
      self.$api
        .post("api/Ocs/Rename2", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(res => {
          if (res.data) {
            // self.clearFrom();
            $("#modal-edit").modal("hide");
            self.dataSourceChanged();
          }
          self.$swal(
            "Success !",
            "New Function Project Update Success",
            "success"
          );
        });
    },
    dateFormat(date) {
      var d = new Date(date);
      var m, day, month;
      m = d.getMonth() + 1;
      if (m < 10) month = "0" + m;
      if (d.getDate() < 10) day = "0" + d.getDate();
      else day = d.getDate();

      var year = d.getFullYear();
      var formattedDate = day + "/" + month + "/" + year;
      return formattedDate;
    }
  },
  watch: {
      category: function(newVal, oldVal) {
      var self = this;
      let categories = newVal;
      self.category = categories
    },
    confi: function(newVal, oldVal){
      var self = this;
      let confis = newVal;
      self.confi = confis

    }
  },
  provide: {
    treegrid: [
      ContextMenu,
      Sort,
      Edit,
      ExcelExport,
      PdfExport,
      Page,
      Filter,
      Resize,
      Toolbar
    ]
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style >
.main-title {
  font-weight: 500;
}
.trashIconContainer {
  vertical-align: middle !important;
  padding-top: 10px;
  text-align: center;
}

.trashIconContainer i {
  color: #e74c3c;
}

.btn-success,
.panel-success {
  background-color: #27c24c !important;
  border-color: #27c24c !important;
  color: #fff !important;
}

.fa-minus-circle {
  color: #e74c3c;
}
.fa-plus-circle {
  color: #27c24c;
}

.submit_btn {
  min-width: 150px;
  max-width: 250px;
  font-size: 1.2rem;
  height: 60px;
  margin-top: 20px;
  padding: 20px;
}

.submit_btn i {
  padding-right: 10px;
}
.form-control {
  display: inline-block;
  width: calc(100% - 45px);
  border: 1px solid #27c24c;
}

@media (min-width: 768px) {
  .invoice-save-bottom {
    min-width: 400px;
  }
  .right-ads {
    float: left;
  }
  .left-ads {
    float: right;
  }
}
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
  min-width: 90%;
}

.e-headertext {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.74);
}
.e-treecell {
  font-size: 16px;
}
</style>
