<template>
  <div id="app">
    <h3>Demo:</h3>
    <vue-editor id="editor"
      useCustomImageHandler
      @imageAdded="handleImageAdded" v-model="editorContent">
    </vue-editor>
  </div>
</template>

<script>
import {VueEditor} from 'vue2-editor'
import axios from 'axios'
export default {
  name: 'app',
  components: {
    VueEditor
  },
  data () {
    return {
      editorContent: 'Initial Content'
    }
  },
  methods: {
    handleImageAdded(file, Editor, cursorLocation) {
      const CLIENT_ID = '993793b1d8d3e2e'
        console.log('aaaaa')
      var formData = new FormData();
      formData.append('image', file)
    
    //   axios({
    //     url: 'https://api.imgur.com/3/image',
    //     method: 'POST',
    //     headers:{
    //       'Authorization': 'Client-ID ' + CLIENT_ID
    //     },
    //     data: formData
    //   })
    //   .then((result) => {
    //     console.log(result);
    //     let url = result.data.data.link
    //     Editor.insertEmbed(cursorLocation, 'image', url);
    //   })
    //   .catch((err) => {
    //     console.log(err);
    //   })
    }
  }
}
</script>

<style>
@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css";

#editor {
  height: 400px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3em;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
